<p>Deseja realmente excluir o cliente {{ cliente.nome }} e todos seus agendamentos atuais? Não é possível desfazer.</p>
<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
  <span class="p-buttonset">
    <button pButton type="button" label="Confirmar" icon="pi pi-check" class="ui-button-danger p-button-success" (click)="confirm()"></button>
    <button pButton type="button" label="Cancelar" icon="pi pi-times" class="ui-button-danger p-button-danger" (click)="cancel()"></button>
  </span>
</div>
